@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Roboto', sans-serif;
}
.container{
    border: 4px;
    width: 700px;
}
.form{
    text-align: center;
}
#header {
background-color:blue;
color:white;
text-align:center;
padding:5px;
}
#nav {
line-height:30px;
background-color:#eeeeee;
height:300px;
width:100px;
float:left;
padding:5px;
text-align:center;
}
#section {
width:350px;
float:left;
padding:10px;
text-align:center;
}
#footer {
background-color:blue;
color:white;
clear:both;
text-align:center;
padding:5px;
}
#form{
color:BLACK;
clear:both;
text-align:center;
padding:5px;

}
#get{
text-align:center; 
}
#from{
    text-align:center; 
}
